.choice,
.score {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
}

h1,
body {
  margin: 0;
}

body {
  text-align: center;
  background-color: lightcyan;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 45px;
}

h4 {
  font-size: 30px;
  margin: 5px 10px 0 0;
}

.selection {
  margin: 10px 30px;
}

#restart {
  margin: 30px 0px;
  font-size: 18px;
}

#results {
  margin-bottom: 30px;
  font-size: 20px;
}

header {
  margin-bottom: 50px;
  background-color: rgb(197, 233, 245);
  padding: 10px;
}

img {
  height: 150px;
  width: 150px;
}

footer {
    margin-top: 55px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(197, 233, 245);
}
